<?php
// example nya di hapus menjadi
// env.php

// $DB_CONNECTION = "mysql";
$DB_HOST = "127.0.0.1";
$DB_PORT = "3306";
$DB_DATABASE = "test_sia";
$DB_USERNAME = "root";
$DB_PASSWORD = "";

$key_lvl_1 = "1";
$key_lvl_2 = "2";
$key_lvl_3 = "3";
