.desc h1 {
  font-size: 20px;
  font-weight: 700;
}

.desc p {
  font-size: 16px;
  text-align: right;
}

.user {
  margin-right: 25px;
  width: 70px;
}

.filter {
  margin: 50px;
  background-color: #699bf7;
  padding: 15px;
  border-radius: 10px;
  display: flex;
}

.filter .first {
  margin-left: 51px;
}

.filter .second {
  margin-left: 61px;
}

.filter .third {
  margin-left: 212px;
}

form select {
  margin-left: 5px;
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.table-rown {
  margin: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody tr:nth-child(n) {
  background-color: #699bf7;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

td .signature {
  margin-left: 20px;
  font-size: 14px;
  padding: 5px 20px;
  text-decoration: none;
  background-color: #06577a;
  color: white;
  border-radius: 20px;
}
