/* !ect.. */
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    background-color: var(--bg-main);
    flex-grow: 1;
}

.kontenerutama {
    padding: 20px;
}

.pointer {
    cursor: pointer;
}

.danger {
    background-color: var(--bg-danger) !important;
}

.danger:hover {
    background-color: var(--bg-danger-second) !important;
}

.danger-hover:hover {
    background-color: var(--bg-danger) !important;
}

.green {
    background-color: var(--bg-green-action) !important;
}

.green:hover {
    background-color: var(--bg-green-action-second) !important;
}

.navdesc .logout {
    text-decoration: none;
    color: var(--clr-accent-hover);
    transition: all ease-in-out 0.3s;
}

.navdesc .logout:hover {
    color: var(--txt-black);
}

.line {
    margin-top: 5px;
    margin-bottom: 5px;
    /* color: red; */
    border: 2px solid var(--clr-buttom);
    border-radius: 5px;
}

.morInpo {
    visibility: hidden;
    background-color: var(--clr-second-hover);
    color: var(--txt-white);
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid var(--txt-black);

    position: absolute;
    z-index: 100;
}

.morInpo::before {
    content: " ? ";
    visibility: visible;
    /* position: absolute; */
    /* top: 0%; */
}

.morInpo:hover {
    visibility: visible;
}

/* !ScrollBar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: var(--clr-accent);
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background: var(--clr-accent-hover);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--clr-buttom-hover);
}

.cssdebug {
    outline: solid red;
}

:focus-visible > * {
    outline: solid red;

    /* color: red; */
}

/* !Dialog */
.dialogContainer {
    position: fixed;
    right: 0px;
    border: 1px solid var(--clr-gray);
    padding: 10px;
    padding-left: 30px;
    width: 500px;
    margin: 10px;
    box-shadow: 0 2px 5px #0000001a;
    z-index: 100;
}

.closeDialog {
    float: right;
    cursor: pointer;
}
/* !notification */

.notification {
    position: relative;
    /* display: inline-block; */
}

.notification .badge {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 5px 10px;
    border-radius: 50%;
    background: var(--bg-danger);
    color: var(--txt-white);
}

/* !Navbar */
navbar {
    width: 100%;
    background-color: var(--clr-accent);
    display: flex;
}

.title {
    /* background-color: red; */
    margin: auto 0;
    font-size: x-large;
    font-weight: bolder;
}

.navbar {
    padding: 10px;
}

.navbody {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navdesc {
    padding: 10px;
}

.navdesc > h1 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.navdesc > p {
    text-align: right;
}

.logo > img {
    height: 60px;
    width: 60px;
    margin: 10px;
}

.userimg > img {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 100%;
    border-radius: 100%;
    object-fit: cover;
    outline: 2px solid var(--clr-buttom);
}

/* !Mobile CSS */
@media only screen and (max-width: 600px) {
    .navdesc,
    .userimg {
        /* background-color: red; */
        display: none;
    }

    .title {
        /* background-color: red; */
        margin: auto 0;
        font-size: large;
        font-weight: bolder;
    }

    /* .logo { */
    /* transform: scale(0.1 0.1); */
    /* transform: scale(0.8, 0.8); */
    /* } */
}
