/* !ect.. */
:root {
  --bg-main: #eee;
  --bg-danger: #f00;
  --bg-danger-second: #f33;

  --clr-accent: #699bf7;
  --clr-accent-hover: #557ecb;

  --clr-second: #b9ddff;
  --clr-second-hover: #3c8dbc;

  --clr-buttom: #06577a;
  --clr-buttom-hover: #64d1ff;

  --clr-select: #b1d9ff;
  --clr-select-hover: #cfe8fe;
  --clr-select-options: #d8ecff;

  --clr-gray: #ccc;

  --txt-black: #000;
  --txt-white: #fff;

  --clr-table-hedder: #656565;
  --clr-table-odd: #b1d9ff;
  --clr-table-even: #8daecd;
}

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  background-color: var(--bg-main);
  flex-grow: 1;
}

.kontenerutama {
  padding: 20px;
}

.pointer {
  cursor: pointer;
}

.danger {
  background-color: var(--bg-danger) !important;
}

.danger:hover {
  background-color: var(--bg-danger-second) !important;
}

.danger-hover:hover {
  background-color: var(--bg-danger) !important;
}

.navdesc .logout {
  text-decoration: none;
  color: var(--clr-accent-hover);
}

.navdesc .logout:hover {
  color: var(--txt-black);
  transition: all ease-in-out 0.3s;
}

/* !Dialog */
.dialogContainer {
  position: fixed;
  right: 0px;
  border: 1px solid var(--clr-gray);
  padding: 10px;
  padding-left: 30px;
  width: 500px;
  margin: 10px;
  box-shadow: 0 2px 5px #0000001a;
}

.closeDialog {
  float: right;
  cursor: pointer;
}
/* !notification */

.notification {
  position: relative;
  /* display: inline-block; */
}

.notification .badge {
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 5px 10px;
  border-radius: 50%;
  background: var(--bg-danger);
  color: var(--txt-white);
}

/* !Navbar */
navbar {
  width: 100%;
  background-color: var(--clr-accent);
  display: flex;
}

.logo > img {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.navbar {
  margin-left: 10px;
  margin-top: 10px;
}

.navbody {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navdesc {
  margin-top: 10px;
  margin-right: 10px;
}

.navdesc > h1 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.navdesc > p {
  text-align: right;
}

navbar > .userimg {
  margin: 10px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  object-fit: cover;
}

/* !SideBar */
.containersidebar {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: var(--clr-second);
  width: 260px;
  padding: 25px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  transition: all ease-in 0.3s;
}

.sidebar > .header {
  margin-bottom: 20px;
}

.linkSidebar {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--txt-black);
}

.sidebar .description-header {
  font-size: 20px;
  font-weight: 500;
}

.sidebar .header .list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  height: 60px;
  box-sizing: border-box;
  /* background-color: red; */
}

.fotouser {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}

.sidebar .main .list-item {
  display: flex;
  flex-direction: row;
  align-items: right;
  padding: 12px 7px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all ease-in 0.2s;
}

.sidebar .main .list-item:hover {
  transition: all ease-in 0.2s;
  background-color: var(--clr-second-hover);
}

.sidebar .main .list-item .description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

.sidebar .main .list-item .icon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

/* !SideBar Hide */
.sidebar.hide {
  width: 90px;
  transition: all ease-out 0.3s;
}

.sidebar.hide .fotouser {
  display: none;
}

.sidebar.hide .header .list-item .icon {
  display: none;
}

.sidebar.hide .main .list-item .description {
  display: none;
}

.sidebar.hide .description-header {
  display: none;
}

#menu-button {
  width: 32px;
  position: absolute;
  overflow: hidden;
}

#menu-label {
  position: relative;
  display: block;
  height: 20px;
  cursor: pointer;
}

#menu-checkbox {
  display: none;
}

#hamburger,
#menu-label:after,
#menu-label:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
}

#menu-label:after,
#menu-label:before {
  content: "";
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;
}

#menu-label:before {
  top: 0;
}

#menu-label:after {
  top: 8px;
}

#hamburger {
  top: 16px;
}

#hamburger:before {
  content: "MENU";
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: black;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

#menu-checkbox:checked + #menu-label::before {
  left: -39px;
}

#menu-checkbox:checked + #menu-label::after {
  left: 39px;
}

#menu-checkbox:checked + #menu-label #hamburger::before {
  animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards, shakeDown 0.2s ease 0.8 forwards;
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@keyframes shakeUp {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakeDown {
  0% {
    transform: rotateZ(0);
  }
  80% {
    transform: rotateZ(3deg);
  }
  90% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
