/* !Mini Nav */
.filter {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: var(--clr-accent);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.filter .first {
  margin-right: 10px;
  font-weight: bold;
}

.filter .Time {
  margin-left: auto;
}

.filter .Time span {
  /* background-color: #06577a; */
  background-color: var(--clr-buttom);
  color: var(--txt-white);
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--clr-accent);
}

.filter .Time span:hover {
  border: 1px solid var(--clr-buttom);
}

.filter select {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--clr-select);
  width: 200px;
  height: 30px;
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid var(--txt-black);
  border-radius: 10px;
}

.filter select:hover {
  background-color: var(--clr-select-hover);
  border-radius: 3px;
  transition: all ease-in-out 0.3s;
}

.filter option {
  background-color: var(--clr-select-options);
  font-size: 15px;
}

.filter form input[type="submit"] {
  color: var(--txt-white);
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid var(--clr-buttom);
  background-color: var(--clr-buttom);
  font-weight: bold;
}

.filter form input[type="submit"]:hover {
  color: var(--txt-black);
  background-color: var(--clr-buttom-hover);
  border: 1px solid var(--txt-black);
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

/* !Table */

/* Gaya untuk elemen <table> */
table {
  color: var(--txt-white);
  background-color: var(--clr-table-hedder);
  border-collapse: collapse;
  border: 0px solid var(--bg-main);
  width: 100%;
  border-radius: 15px;
}

/* Gaya untuk baris pada elemen <tbody> */
tbody tr:nth-child(odd) {
  background-color: var(--clr-table-odd);
  color: var(--txt-black);
}

tbody tr:nth-child(even) {
  background-color: var(--clr-table-even);
  color: var(--txt-black);
}

/* Gaya untuk sel pada elemen <td> dan <th> */
td,
th {
  border: 1px solid var(--clr-gray);
  padding: 10px;
  text-align: center;
}

/* Gaya untuk tautan dengan kelas 'signature' dalam elemen <td> */

tbody > tr > .num {
  color: var(--txt-black);
  font-weight: bold;
}

/* !Tombol Actions */

td .Actions {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid var(--clr-buttom);
  background-color: var(--clr-buttom);
  color: var(--txt-white);
  font-weight: bold;
}

td .Actions:hover {
  color: var(--txt-black);
  background-color: var(--clr-buttom-hover);
  border: 1px solid var(--txt-black);
  border-radius: 5px;

  transition: all ease-in-out 0.3s;
}
